div:hover{
    transform: translateY(-20px)
}
div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example; 
    animation-duration: 2s;
    transition: 0.5s;
  }
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}
#background{
    width: 100%;
    height: 1000px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
#card{
    width: 160px;
    height: 210px;    
    background-color: rgb(54, 49, 49);
    color: white;
    border-radius: 10px;            
}
.card{
    width: 170px;
    height: 230px;    
    background-color: rgb(54, 49, 49);
    color: white;  
    border-radius: 10px;
}
h4{
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.portrait {
    height: 80px;
    width: 30px;
}

.landscape {
    height: 30px;
    width: 80px;
}

.square {
    height: 75px;
    width: 75px;
}
p{
    color: rgb(73, 70, 70);
}
p{
    font-size: x-large;
}